body {
    font-family: Arial, sans-serif;
}

main {
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: red;
    color: white;
}

td:first-child, td:nth-child(2) {
    font-weight: bold;
}

.champions {
    background-color: #d4edda; /* Verde claro */
}

.europa {
    background-color:rgb(231, 121, 81); /* Azul claro */
}

.conference {
    background-color: rgb(87, 216, 87); /* Amarillo claro */
}

.descenso {
    background-color:rgb(207, 74, 74); /* Rojo claro */
}